html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0;
}

.container {
  height: inherit;
}

.divLibrary {
  display: flex;
  height: 50%; 
  justify-content: space-between;
}