html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0;
}

.container {
  height: inherit;
}

.divLibrary {
  height: 10%; 
}

.divLibrary div {
  
}