html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: inherit;
  align-items: center;
}

.divLibrary {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 50%; 
}

form {
  display: none;
  flex-direction: column;
}

.btnRm {
  align-self: flex-start;
}

input {
  display: flex;
}

select {
  display: flex;
}